{% extends "base.html" %}
    <title>{% block title %}{{ book.title }}{% endblock %} </title>

{% block content %}
        <h1>{{ book.title }}</h1>   
    <img src="{{ book.image.url }}" alt="its">
    <h4>Description: {{book.description}}</h4>
    <h4>Price: {{book.price}}</h4>
    <h4>Page: {{book.page}}</h4> 

    
    <hr><hr>
    <h2>Reviews</h2>
    <a href="{% url 'products:add_review' book.pk %}" >Add Review</a>
    {% for review in reviews %}
        <h4>{{ review.user.username }} | {{ review.rating }}</h4>
        <p>{{ review.comment }}</p>
        {% if user.is_authenticated and review.user == user %}
        <form method="post" action="{% url 'products:review_delete' review.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
        <br>
        <form method="post" action="{% url 'products:review_update' review.pk %}">
            {% csrf_token %}
            
            <input type="submit" value="Update">
        </form>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock content %}